header{
    height: 260px;
}
body{
    background-image: url(../img/fondo.jpg);
}
.container{
    margin-top: 40px;
}

.fondo-blanco{
    background-color: white;
    border-radius: 10px;
}

.logo{
    width: 60px;
    text-decoration: none;
    display: inline;
}
.logo-nav{
    display: none;
}
.nav-item{
    padding-left: 120px;
}
.item-href-nav{
    color: white;
}
.btn.btn-outline-success.my-2.my-sm-0{
    padding: 0;
}
.lupa{
    width: 40px;
}
footer{
    align-content: center;
    position: absolute;
    bottom: 5px;
    background-color: white;
    border: 2px;
    border-color: teal;
}
.img-icono{
    width: 60px;
    text-decoration: none;
    display: inline;
    padding: 10px;
    align-content: center;
    margin-left: 300px;
}